<%= form_for (@exhibit), html: {multipart: true} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_field :blurb %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :museum_id %>
    <%= f.collection_select :museum_id, Museum.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "Add Exhibit"%>
  </div>
<% end %>
