<div class="post-wrapper museum-panel">
  <div class="thumbnail">
    <%= link_to image_tag(post.photo.url(:large)), post %>
    <div class="caption">
      <h3><%= link_to "#{post.name}", post %></h3>
      <p><%= post.blurb %></p>
      <div>
        <% if current_user %>
          <%= form_for ticket, remote: true do |f| %>
            <div class="input-group">
              <div class="input-group-btn">
                <%= f.hidden_field :quantity, value: 1 %>
                <%= f.hidden_field :museum_id, value: post.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.submit "Purchase Tickets", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Purchase Tickets", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped" style= "width: 100%"></div>
  </div>
</div>
