<h3>Your tickets</h3>
<% @tickets.each do |ticket| %>
  <h4><%= link_to "#{Museum.find(ticket.museum_id).name}", ticket %>: <%= ticket.quantity %></h4>
<% end %>
<h4>Redeemed Tickets</h4>
<% @redeemed_tickets.each do |ticket| %>
  <p>
    <%= Museum.find(ticket.museum_id).name %>
  </p>
<% end %>
<%= link_to "Edit Profile", edit_user_path %><br>
<%= link_to "Add Interests", "#{current_user.id}/tagging" %><br>
<% if current_user.taggings %>
  <%= link_to "Museums for You!", "#{current_user.id}/personalized" %><br>
<% else %>
  <%= link_to "Museums for You!", "#{current_user.id}/tagging" %><br>
<% end %>
<%= link_to "See Backend Numbers", tickets_stats_path %>
