<%= form_for(@user, :url => "tagging", :html => { :method => :post }) do |f| %>

   <p>Tags</p>
   <ul>
     <% Tag.all.each do |tag| %>
     <%= hidden_field_tag "user_tag_ids_none", nil, {:name => "user[tag_ids][]"}%>
     <li>
       <%= check_box_tag "user_tag_ids_#{tag.id}", tag.id, (f.object.taggings.present? && f.object.taggings.include?(tag.id)), {:name => "user[tag_ids][]"} %>
       <%= label_tag "user_tag_ids_#{tag.id}", tag.name %>
     </li>
     <% end %>
   </ul>

   <%= f.submit %>

<% end %>
