<%= form_for (@piece), html: {multipart: true} do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_field :blurb %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :museum_id %>
    <%= f.collection_select :museum_id, Museum.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "Add Piece"%>
  </div>
<% end %>
<% if @piece.errors.any? %>
  <% @piece.errors.each do |attribute, message| %>
    <%= attribute %>:
    <%= message %>
  <% end %>
<% end %>
