<%= @piece.name %><br>
<% @piece.tags.each do |tag| %>
  <p><%= link_to "##{tag.name}", tag %></p>
<% end %>
<%= @piece.description %>

<%= link_to "Currently at #{@museum.name}", @museum %>
<br><br>
<%= image_tag @piece.photo.url(:large) %>

<% if admin? %>
  <%= link_to "Add Piece Tags", "#{@piece.id}/tagging" %>
  <%= link_to "Edit Piece", edit_piece_path %>
<% end %>
