<% if @ticket.quantity == 0 %>
  <p>
    You have redeemed your tickets!
  </p>
<% else %>
  <h3>Your Ticket:</h3>
  <h4><%= @ticket_code %></h4>
  <%= link_to "Redeem ticket", "redeem/#{@ticket.id}" %>
  <br>
  <%= Museum.find(@ticket.museum_id).name %>: <%= @ticket.quantity %>
<% end %>
<br>
<a href="https://twitter.com/intent/tweet?screen_name=Medici_App" class="twitter-mention-button" data-text="guided me along a great experience at <%=@tweetable_museum %>!" data-show-count="false">Tweet @Medici_App</a>
<%= social_share_button_tag("Share on Facebook") %>
