<table>
  <tr>
    <th>
      Museums
    </th>
    <th>
      Tickets Sold
    </th>
    <th>
      Tickets Redeemed
    </th>
  </tr>
  <% @museums.each do |museum| %>
  <tr>
      <td>
        <%= museum.name %>
      </td>
      <td>
        <%= total_tickets(museum) %>
      </td>
      <td>
        <%= total_redeemed(museum) %>
      </td>
  </tr>
  <% end %>

</table>
<table>
  <tr>
    <th>
      Coupon
    </th>
    <th>
      Coupon's redeemed
    </th>
  </tr>
  <% @coupons.each do |coupon| %>
  <tr>
    <td>
      <%= coupon.code %>
    </td>
    <td>
      <%= coupon.quantity_redeemed %>
    </td>
  </tr>
  <% end %>
</table>
