<% if !@ticket.nil? && @ticket.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @tickets.size == 0 %>
  <p>
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @tickets.each do |ticket| %>
    <%= render 'carts/cart_row', museum: ticket.museum, ticket: ticket, show_total: true %>
  <% end %>
  <h2> Total Cost: <%= @total %> </h2>
  <%= link_to "Checkout", new_charge_path %>
<% end %>
  <h3> TERMS AND CONDITIONS</h3>
  <p>
  Our website terms and conditions template has been designed for use on typical websites, including those with with basic interactive features. It includes, amongst other things, a licence specifying how the website may be used, a disclaimer of liability, a statutory disclosures section and rules on user-contributed content. It is an extended version of our website disclaimer document. It is not suitable for websites featuring payments: for which, see these templates. By using this document, you agree to our T&Cs, which include an express licence.
</p>
