<div class="row masonry-row">
	<% @posts.shuffle.each do |post| %>
	  <%= render "museum_row", post: post, ticket: @ticket  %>
	<% end %>
</div>
<br>

<%= link_to "Add Museum", new_museum_path %><br>
<%= link_to "Add Exhibit", new_exhibit_path %><br>
<%= link_to "Add Event", new_event_path %><br>
<%= link_to "Add Piece", new_piece_path %><br>
<%= link_to "See Backend Numbers", tickets_stats_path %>
