<%= @museum.name %><br>
<%= @museum.description %>
<br><br>
<%= image_tag @museum.photo.url(:large) %>
<%= image_tag @museum.photo.url(:small) %>
<br><br>
<script type="text/javascript">
  $(document).ready(function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
    });
    })
</script>

<div id="map"></div>


  <p>
    <%= @museum.address %>
  </p>

<% if current_user %>
  <%= link_to "Edit Museum", edit_museum_path %>
<% end %>
