<!DOCTYPE html>
<html>
  <head>
    <title>Medici</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc7bgkQoYVVLBCkZtxYPzzWCogA-3LmNY&callback=initMap" async defer></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- CDN references -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <!-- nav stuff goes in this column-->
          <nav class="navbar navbar-default navbar-fixed-side">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="glyphicon glyphicon-ice-lolly-tasted">
              </button>
              <% if current_user %>
                <%= link_to image_tag(current_user.avatar.url(:medium)), current_user, class: "navbar-left hidden-xs"%>
                <%= link_to "#{current_user.name}", current_user, class: "navbar-brand" %>
              <% else %>
                <%= link_to image_tag("medici_placeholder.JPG"), root_path, class: "navbar-left hidden-xs"%>
                <%= link_to "Medici", root_path, class: "navbar-brand" %>
              <% end %>
            </div>

            <div class="collapse navbar-collapse">
              <!-- menu stuff goes here-->

              <% if current_user %>
                <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
              <% else %>
                <!-- modal window trigger -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Log-In-Modal">log-in</button>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Register-Modal">Register</button>
              <% end %>

              <input type="checkbox" id="museum-toggle" class="hidden">
              <label for="museum-toggle" class="museum-label-toggle">museum</label>

              <input type="checkbox" id="exhibit-toggle" class="hidden">
              <label for="exhibit-toggle" class="exhibit-label-toggle">exhibit</label>

              <div class="list-group list-group-borderless">
                <button type="button"class="list-group-item">
                  <% if current_user %>
                    <%= link_to "Check Out", cart_path(id: current_user.id), class: "btn btn-link" %>
                  <% end %>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <%if current_order.tickets.where(paid: false).size > 0 %>
                    <span class="badge"> <%= "#{current_order.tickets.size}" %> </span>
                  <% end %>
                </button>
            </div>
          </nav>
        </div>
        <!-- dynamic content stuff goes in this column  -->
        <div class="col-sm-9 col-lg-10 content">
        <!-- Modal content-->
        <div id="Log-In-Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
             <div class="modal-form">
             <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"modal-body") do |f| %>
                <p class="title">Log in</p>
                <%= f.email_field :email, placeholder:"e-mail", autofocus: true, class:"input-field"%>
                <%= f.password_field :password, placeholder:"password", autocomplete: "off", class:"input-field" %>
                <div class="checkbox">
                  <label><%= f.check_box :remember_me %><p>remember me</p></label>
                </div>
                <a href="#">Forgot your password?</a>
                <%= f.submit "Log in", class:"input-button"%>
              <% end %>
            </div>
          </div>
        </div>
        <div id="Register-Modal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Register</h4>
              </div>
              <div class="modal-body">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                  <div class="field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>
                  <div class="field">
                    <%= f.label :name %><br />
                    <%= f.text_field :name, autofocus: true %>
                  </div>
                  <div class="field">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>
                  <div class="field">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                  </div>
                  <div class="field">
                    <%= f.label :avatar %>
                    <%= f.file_field :avatar %>
                  </div>
                  <div class="actions">
                    <%= f.submit "Sign up" %>
                  </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
          <h1><%= link_to "Home", root_path %></h1>
          <%= yield %>
      </div>
  </body>
</html>
