<!DOCTYPE html>
<html>
  <head>
    <title>Medici</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc7bgkQoYVVLBCkZtxYPzzWCogA-3LmNY&callback=initMap" async defer></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <!-- CDN references -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <!-- nav stuff goes in this column-->
          <nav class="navbar navbar-default navbar-fixed-side">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                <span class="glyphicon glyphicon-ice-lolly-tasted">
              </button>
              <% if current_user %>
                <%= link_to image_tag(current_user.avatar.url(:medium)), current_user, class: "navbar-left hidden-xs"%>
                <%= link_to "#{current_user.name}", current_user, class: "navbar-brand" %>
              <% else %>
                <%= link_to image_tag("medici_placeholder.JPG"), root_path, class: "navbar-left hidden-xs"%>
                <%= link_to "Medici", root_path, class: "navbar-brand" %>
              <% end %>
            </div>

            <div class="collapse navbar-collapse">
              <!-- menu stuff goes here-->

                <button type="button"class="list-group-item">
                    <%= link_to "Check Out", cart_path(id: current_user.id), class: "btn btn-link" %>
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <%if current_order.tickets.size > 0 %>
                    <span class="badge"> <%= "#{current_order.tickets.size}" %> </span>
                  <% end %>
                </button>

              <input type="checkbox" id="museum-toggle" class="hidden">
              <label for="museum-toggle" class="museum-label-toggle">museum</label>

              <input type="checkbox" id="exhibit-toggle" class="hidden">
              <label for="exhibit-toggle" class="exhibit-label-toggle">exhibit</label>
            </div>
          </nav>
        </div>
        <!-- dynamic content stuff goes in this column  -->
        <div class="col-sm-9 col-lg-10 content">

          <h1>A not so dull affair in the forbidden <%= link_to "forest", root_path %></h1>
          <%= yield %>
      </div>
  </body>
</html>
